
	<nav class="navbar" role="navigation">
    <div class="container">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">EduWords</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/"><i class="fa fa-home"></i>Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i>Account<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <% if !member_signed_in? %>
                <li><a href="/members/sign_in">Sign in</a></li>
                <li><a href="/members/sign_up">Sign up</a></li>
              <% else %>
                <li><a href="/members/edit">Edit account</a></li>
                 <% if current_member.role =='admin' %>
                 <li><a href="/dashboard">Admin</a></li>
                 <% end %>
                <li><a data-method="delete" href="/members/sign_out">Log out</a></li>
              <% end %>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </div>
  </nav>
