<% if member_signed_in? && current_member.role == 'admin' %>
	<h1>This is only for admin!!</h1>
	All users:
	<%= Member.count() %>
	All tests:
	<%= Test.count() %>
	<br />
	Logs:
	<br />
	<%= log = File.open('log/development.log').read %>
<% else %>
	access denied
<% end %>