<% if member_signed_in? && current_member.role == 'admin' %>
<div class="main-icon">
	<img src="/recovery.png" alt="admin" class="img-responsive">
</div>
<% else %>
<div class="main-icon">
	<img src="/mainpage.png" alt="eduwords" class="img-responsive">
</div>
<% end %>
